body {
    background-color: grey;
}

#body {
    vertical-align: middle;
}

h1 {
    text-align: center;
}

#img-01 {
        display: flex;
		justify-content: center;
}

img {
    border-radius: 10%;
}

button {
    width: 150px;
    height: 20px;
}

#buttons {
    display: flex;
    padding-top: 1em;
    justify-content: center;
    gap: 1em;
}

button > a {
    text-decoration: none;
    color: black;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
